.type {
  width: 100%;
  align-content: center;
  background-color: black;
  text-align: center;
  font-family: "Roboto Slab ExtraLight";
}

.Cards {
  background-color: white;
  background-image: url("https://cdn.wallpapersafari.com/21/7/SLvtcy.png");
  align-items: center;
  align-self: center;
  align-content: center;
  position: center;
  /* child-align: middle; */
}
.page-footer {
  background-color: #282c34;
}
.footer-copyright {
  color: white;
  background-color: black;
}
.greet {
  text-align: center;
  background-color: RGB(91, 94, 166);
  color: white;
  padding: 10px;
}
